<header class="header clearfix">
    <div id="user" class="pull-right">
        <div id="userName">
            <p>Nombre</p>
        </div>
        <div id="userAvatar">
            <img src="images/avatar.png" weight="50px" height="50px" class="img-circle">
        </div>
    </div>

    <div id="logo">
        <div id="logoImg"> 
            <img src="images/logo.png" weight="50px" height="50px">
        </div>

        <div class="search-form">
            <div class="input-group">                      
                <input type="text" class="form-control" placeholder="Buscar...">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">  <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" id="main">
{{outlet}}
</div>
