<div class="jumbotron recipe-header-container">
	<div class="container">
		
		<div id="info">
			<div class="time">
				1h
			</div>
		</div>		
		<div class="recipe-header">
			<div class="action-vote pull-right">
				<i class="glyphicon glyphicon-thumbs-up"></i>
				20
			</div>
			<h1>Pollo al Curry</h1>
		</div>
	</div>

	
</div>


<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-7">
			<h2>Ingredientes</h2>
			<div class="row">
				<div class="col-md-2">
					1
				</div>
				<div class="col-md-5">
					Cebolla
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					250 ml
				</div>
				<div class="col-md-2">
					<p>Nata</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<p>2</p>
				</div>
				<div class="col-md-5">
					<p>Pechugas de pollo</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-5">
					<p>Sal</p>
				</div>
			</div>							

			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-5">
					<p>Pimienta</p>
				</div>
			</div>	

			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-5">
					<p>Curry</p>
				</div>
			</div>	
		</div>
		<div class="col-md-4" id="print">

			<button class="btn btn-default " type="button">  <i class="glyphicon glyphicon-print"></i>
			</button>

		</div>
	</div>